#nav-bar {
	text-align: left;
	background-color: #151518;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar li {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 8px;
	display: inline;
}

#nav-bar a:link {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	background-color: 151518;
	text-align: center;
	text-decoration: none;
}

#nav-bar a:visited {
	color: white;
}

#nav-bar li:hover {
	background-color: #343439;
}


